[submodule "firmware/lvgl"]
	path = firmware/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "firmware/FreeRTOS-Kernel"]
	path = firmware/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
